
.info {
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.error {
    padding: 6px 8px;
    background: red;
    background: rgba(255,0,0,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

aside {
    z-index: 1100;
    position: absolute;
    top: 1%;
    left: 0%;
    height: 98%;
    width: 320px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
    box-shadow: 5px 5px 5px #00000022;
}

aside.collapsed {
    left: -320px;
    transition: 400ms ease;
}

aside.uncollapsed {
    left: 0px;
    transition: 400ms ease;
}

aside > #collapse-button {
  position: absolute;
  top: 20px;
  left: 100%;
  width: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  opacity: 0.95;
  box-shadow: 5px 5px 5px #0002;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  cursor: pointer;
}

#aside {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightgray white;
    display: flex;
    flex-direction: column;
}

#aside > canvas {
    padding-bottom: 40px;
}

.filler {
    flex-grow: 1;
}

.legend {
    line-height: 14px;
    color: #555;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}
.legend h3 {
    line-height: 0px;
    text-align: center;
    margin-bottom: 8px;
}
.legend .grad {
    width: 100%;
    height: 12px;
    float: left;
    background: linear-gradient(to right, transparent, red);
}
.legend b {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 0px;
}
.legend b#start {
    padding-left: 0px;
}
.legend b#end {
    padding-right: 0px;
    float: none;
}

.thumbnail {
    width: 32px;
    height: 32px;
    float: right;
    position: absolute;
    transform: translate(-30px, -20px);
}

form {
    text-align: center;
    width: 100px;
    border-radius: 5px;
    background-color: #aaaaaa30;
}

form label {
    cursor: pointer;
}

form label input {
    position: absolute;
    opacity: 0.2;
    width: 0px;
    height: 0px;
}

form label input:checked ~ div {
    background-color: lightblue;
    width: 100%;
    height: 50%;
    top: 0;
    right: 0;
    border-radius: 5px;
}

