
.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.error {
    padding: 6px 8px;
    background: red;
    background: rgba(255,0,0,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
    padding-inline: 20px;
}
.legend h3 {
    line-height: 0px;
    text-align: center;
    margin-block-end: 8px;
}
.legend .grad {
    width: 100%;
    height: 18px;
    float: left;
    background: linear-gradient(to right, transparent, red);
    cursor: pointer;
}
.legend b {
    padding-inline: 20px;
    float: left;
    width: 0px;
}
.legend b#start {
    padding-inline-start: 0px;
}
.legend b#end {
    padding-inline-end: 0px;
    float: none;
}

.thumbnail {
    width: 32px;
    height: 32px;
    float: right;
    position: absolute;
    transform: translate(-30px, -20px);
}

